*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 100px;
    width: auto;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    background-color: cadetblue;
}
#one{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
h2{
    margin: 30px;
    text-align: center;
    text-transform: capitalize;
}
.main{
    height: 600px;
    width: auto;
    border: 2px solid red;
    display: flex;
    margin:25px;
    background-color: beige;
    border-radius: 20px;
}
.first{
    height: 56px;
    width: 30%;
    padding: 17px;
     
}
li{
    margin: 20px;
}
.second{
    height: 518px;
    width: 45%;
     border-left: 2px solid green;
     padding: 40px;
}
h3{
    padding: 20px;
    text-transform: capitalize;
    font-size: 30px;
    color:cornflowerblue ;
}
p{
    padding: 5px;
}
.git{

    padding: 30px;
}
.third{
    height: 560px;
    width: 20%;
    padding: 20px;
    border-left: 2px solid green;
}
table{
    margin-left: 50px;
}
footer{
    margin: 15px;
    background-color: cadetblue;
    font-size: 24px;
}